<div class="ui grid">
    {% for taxonGalleryItem in taxonGalleryItems %}
        {% include '@MadcodersSyliusTaxonGalleryPlugin/Shop/TaxonGallery/View/Classic/Item/_box.html.twig' %}
    {% endfor %}
</div>

<div class="ui hidden divider"></div>
